/* ------------- Page-outfit on handheld screen--------- */

* {	margin: 0px; padding:0px;}


body	{
	padding: 0px;
	background: #101C2E url(images/grad1.png) 0 0 repeat-x;
	/* background-attachment:fixed; */
	color: #D9D9D9;
	font: 100%/normal Tahoma, Arial, Helvetica, sans-serif;
	min-width: 350px;
	}

div.content {
	text-align: center;
	margin: 60px 1px;
	padding:0px;
	
    padding-bottom: 0.5em;
	background-image: linear-gradient(to right,rgba(200,216,232,0) 0,#C8D8E8 20%,#C8D8E8 80%,rgba(200,216,232,0) 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
	}

ul, ol, .startlist	{
	text-align: left;
	}

div.pictable_r p, div.pictable_rn p {
	font-size: 70%;
	}


h1	{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
		background-image: linear-gradient(to right,rgba(200,216,232,0) 0,#C8D8E8 20%,#C8D8E8 80%,rgba(200,216,232,0) 100%);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 100% 1px;
	}

h2	{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 110%;
	}
.teaser {
	float:right;
	font-size:12px !important;
	color:gray;
}


h3 {	font-family: italic, georgia, arial, verdana, tahoma, sans-serif;
	font-size: 110%;
	color: #C6903A; }   /* gold, dunkler */

h4 {	font-family: arial, verdana, tahoma, sans-serif;
	text-align: left;
	color: #F1BF6F;   /* gold, heller */
	margin-top:10px;
	}

h5 {	font-family: arial, verdana, tahoma, sans-serif;
	color: #C6903A;   /* gold, dunkler */
	}

h6 {	font-family: verdana, tahoma, arial, sans-serif;
	}


cite	{
	float: none;
	font-size:smaller;
	}

ul	{
	list-style: disc;
	margin-bottom: 1em;
	padding-left: 2em;
	}

ol	{
	margin-bottom: 1em;
	padding-left: 2em;
	}

div.section	{
	clear: both;
	padding-top: 50px;
	}

.copyright	{
	padding-left:100px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 60%;
		}

table {
	padding: 0px;
	margin:0px;
	border-collapse:collapse;
	border-spacing:1px;
}

hr {	color: #D9D9D9;
	background: transparent none repeat scroll 0%;
	border: solid #D9D9D9 1px;
	height: 1px;
}

form	{
	background-color:transparent;
	color: #eacab4;
	padding: 5px;
	border: 0; }

input,textarea	{
	font-size: 13px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	color: #eacab4;
	background-color: #081830;
	border-color: #543D32; }

/* vereinfachte Handheld-Navigation  */
#handheld {
	clear:both;
}
.skip {
	width:80%;
	border: 3px solid gray;
	border-radius: 0.8em; margin:0.5em;
	padding:0.3em;
	margin:0.3em;
	background-color: DimGray;
	display:block;
}

.swtch, .schaltflaeche{
	width:45%;
	height: 25px;
	border: 3px solid gray;
	border-radius: 0.8em; margin:0.5em;
	padding:0.3em;
	margin:0.3em;
	background-color: DimGray;
	display:block;
}

/* ________________    Mini-Navigantion    ________________ */

#h_line {				 /* siehe auch ab Zeile 1100 */ 
	height: 46px;
	width: 100%;
	position:fixed;
	top: 0px;
	left: 0px;
	background: #030303 url(images/grad1.png) 0 0 repeat-x;
	text-align:left;
	padding-bottom: 3px;
	z-index: 1;
	letter-spacing: -1px;
	/*  border-bottom: 1px solid #49758F; */
}

h1 img { /* Logo RGL, Größe und Ausrichten */
	opacity: 0.3;
	margin-top:12px;
	margin-left:5px;
	width:320px;
}


/* ________________    Texteigenschaften    ________________ */


img	{border: none;}

abbr, acronym, .explan, .interactive {
	font-family: arial, verdana, tahoma, sans-serif;
	border-bottom: 1px dotted #5f5f5f;
	color: #E7F0B6;
	cursor:help;}

.spacing {	margin-left: 5px;}
.spacin2 {	margin-left: 10px;}


.footer1 {
    padding-top: 0.5em;  
		background-image: linear-gradient(to right,rgba(200,216,232,0) 0,#C8D8E8 20%,#C8D8E8 80%,rgba(200,216,232,0) 100%);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% 1px;	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: right;
	font-size: 75%;
	clear:both;
}

a:link			{color: #BEBEFF; text-decoration: none; }
a:active		{color: #C9494C; text-decoration: underline; }
a:visited		{color: #B8CED2; text-decoration: none; }
a:hover			{color: #878AFF; text-decoration: underline; }
a.pdf			{background:url(images/ico16.png) no-repeat scroll 0 -220px transparent;padding-left:20px; }
a.pptx			{background:url(images/ico16.png) no-repeat scroll 0 -360px transparent;padding-left:20px; margin-left:30px;}
a[rel~="external"]	{background:url(images/ico16.png) no-repeat scroll right -51px transparent;padding-right:16px; }
a[rel~="wikipedia"]	{background:url(images/ico16.png) no-repeat scroll right -328px transparent;padding-right:16px; }


.highlight,
.highlights {
	text-align: center;
	background-color: #383838;
	font-size: 110%;
	border-style: solid;
	border-width: thin;
	border-top-color: #404040;
	border-left-color: #505050;
	border-right-color: #202020;
	border-bottom-color: #202020;
	padding: 5px !important;
}

.lemmaname {
	font-weight: bold;
	font-size:105%;
}




.eigenname, .fremdsprache, .geografie {
	font-style: italic;
}


.beispiel {
	border: solid 1px #6F6F6F;
	padding: 2px;
}

.note {
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 80%;
	font-style: italic;
	text-align: left;	
	padding-left: 3em;
	z-index:2;
}


.fussnote, #footnote, .source{
	font-size: 75%;
	font-style: italic;
	margin-top: 1em;
}
.fussnote {
	border-top: solid 1px gray;
	clear: both;
}

.referenz {
	font-size: 60%;
	vertical-align:top;
}



.linke_spalte, .rechte_spalte {
	clear:both;
	margin-bottom:1em;
}

.kursiv {
	font-style: italic;
}


form	{
	float:left;
	color: #D9D9D9;
	padding: 20px;
	border: 0; }

input, textarea, .gsc-input {
	font-size: 13px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	color: #D9D9D9;
	background-color: #081830 !important;
	border-color: #543D32;}



/* _____________  neue Formel-DIV mit png  ___________*/

div.eqn {
	font-size:80%;
	margin-left:2rem;
	text-align:left;
}
div.eqn div {
	clear:left;
	--contentWidth: 400px;		/* maximale Breite */
	padding: 1rem calc((100% - var(--contentWidth)) / 2);
}

img.eqn {
	float: left;
	margin-right: 3rem;
}
div.eqn .line {
	font-family: 'Times New Roman',serif;
	font-size: 170%;
	font-style: italic;
	white-space: nowrap;
}
div.eqn .line sup {font-style: normal;}

ul.eqn {	
	list-style: none;
	margin: 1em;
}
p.eqn {
	float: right;
}



/* _____________  Formeltabellen  ___________*/

.formel {
	margin-left: 40px;
	padding-left: 5px;
	padding-right: 5px;
	font-style: italic;
	text-align: center;
	vertical-align:middle;
	white-space: nowrap;
}
.fnenner {
	font-family: 'Times New Roman',Georgia,serif;
	font-size: 120%;
	vertical-align: text-top;
	font-weight: bold;
	font-style: italic;
}
.fzaehler {
	font-family: 'Times New Roman',Georgia,serif;
	font-size: 120%;
	vertical-align: text-bottom;
	font-weight: bold;
	font-style: italic;
	margin: 0px;
}
.fgleich {
	font-family: 'Times New Roman',Georgia,serif;
	font-size: 120%;
 	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-style: italic;
	margin: 0px;
}
.fwhere {
 	padding-left: 10px;
	padding-right: 5px;
	font-style: normal;
	font-size:80%;
	white-space: nowrap;
	vertical-align:top;
	margin: 1em;
}
.flegende {
 	padding-left: 10px;
	min-width:100px;
	text-align: left;
	font-style: normal;
	font-size:80%;
	vertical-align: bottom;
	white-space: nowrap;
	margin: 0px;
}
.fsymbol {
	font-family: 'Times New Roman',Georgia,serif;
	font-style: italic;
	font-size:110%;
	vertical-align: bottom;
	white-space: nowrap;
	margin: 0px;
}

.fnummer {
	min-width:100px;
	text-align: right;
	font-style: italic;
	font-size:80%;
	vertical-align: bottom;
}
.fbruch {
	border-top: 1px solid;
}

.ftext, .fmath {
	font-family: 'Times New Roman',serif;
	white-space: nowrap;
	font-weight: normal;
}

.ftext {	/*	für Formelzeichen in Fließtext	*/
	font-style: italic;
	font-size:110%;
}

.fmath {	/*	für mathematische Symbole	*/
	font-style: normal;
}


.fut {  color: gray;}
.moved {  color: #606060;}


.screenform {
	text-align: right;	
	padding: 0px;
	z-index:2;
}
.nobreak {
	white-space: nowrap;
}





/* ________________  Blöde neue Google Suche    ________________ */


div.gogsearch {
	float:left;
	width: 70%;
	min-width:350px;
	max-width:700px;
}

.gsc-control-cse-de,
.gsc-control-cse-en {
	background-color:transparent !important;
	border:none !important;}
 
.gsc-input-box{
	background-color:transparent !important;
	border:1px solid gray !important;}



/* _____________  Dem Google seine Kekse  ______________ */
#mbmcookie {
	position: fixed; bottom: 0; left: 0;
	width:75%;
	background: #101C2E;
	padding: 20px;
	font-size: 14px;
	z-index: 99;
	}
#mbmcookie a.button {cursor: pointer; background: #32578E; padding: 8px 20px; margin-left: 10px; border-radius: 5px; font-weight: bold; float: right;}
#mbmcookie a.button:hover {background-color: #4173BF;}
#mbmcookie p.cookiemessage {display: block; padding: 0; margin: 0;}




.noscr	{font-size:60%; }


/* ________________    schräge Texte    ________________ */



.tx90 {
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
	
.tx45 {
	text-align: right;
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); 
}
.tx-45 {
	text-align: right;
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); 
}

.tx-75 {
	text-align: right;
	-o-transform: rotate(-75deg);
	-moz-transform: rotate(-75deg);
	-webkit-transform: rotate(-75deg);
	-ms-transform: rotate(-75deg);
	transform: rotate(-75deg); 
}

.tx17 {
	-o-transform: rotate(17deg);
	-moz-transform: rotate(17deg);
	-webkit-transform: rotate(17deg);
	-ms-transform: rotate(17deg);
	transform: rotate(17deg);
}
.txway {
	color:#9080FF;
	text-align:left;
	line-height:1;
	position:relative;
	text-align:center;
	font-weight:bold;
		-o-transform: rotate(-17deg);
		-moz-transform: rotate(-17deg);
		-webkit-transform: rotate(-17deg);
		-ms-transform: rotate(-17deg);
	transform: rotate(-17deg); 
}




/* ________________    Bildelemente    ________________ */

.avatar {float:right !important;}


.pictable_r,
.pictable_l,
.pictable_c {
	width: auto;
	margin: auto;
	float: none;
	border-style: solid;
	border-width: thin;
	border-top-color: #505050;
	border-left-color: #404040;
	border-right-color: #202020;
	border-bottom-color: #202020;
	margin-bottom: 20px;
	padding: 4px;
	font-family: arial, verdana, tahoma, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	background-color: transparent;
	overflow: hidden;
	box-shadow: 4px 4px 2px 2px #213553;
}

/* ==== Bildbeschreibungen / Legenden ==== */
.legend, .legcent, .legendblue, .legendblack {
	position: relative;
	line-height: 1;
	text-shadow: #000 3px 3px 5px;
}
.legend {text-align: left;}
.legcent {text-align: center;}
.legendblue {color:#C0C0FF;}
.legendblack {color:black; text-shadow:#fff 2px 2px 3px;}

.fs75, .fs75_2, .fs75_3, .fs75_4 {font-size:7.5px;}
.fs75   {margin-bottom:-7.5px;}
.fs75_2{margin-bottom:-14px;}
.fs75_3{margin-bottom:-22px;}
.fs75_4{margin-bottom:-30px;}

.fs7, .fs7_2, .fs7_3, .fs7_4 {font-size:7px;}
.fs7	{margin-bottom:-7px;}
.fs7_2	{margin-bottom:-14px;}
.fs7_3	{margin-bottom:-21px;}
.fs7_4	{margin-bottom:-38px;}

.fs8, .fs8_2, .fs8_3, .fs8_4  {font-size:8px;}
.fs8	{margin-bottom:-8px;}
.fs8_2	{margin-bottom:-16px;}
.fs8_3	{margin-bottom:-24px;}
.fs8_4	{margin-bottom:-32px;}

.fs9, .fs9_2, .fs9_3, .fs9_4  {font-size:9px;}
.fs9	{margin-bottom:-9px;}
.fs9_2	{margin-bottom:-18px;}
.fs9_3	{margin-bottom:-27px;}
.fs9_4	{margin-bottom:-36px;}

.fs10, .fs10_2, .fs10_3, .fs10_4  {font-size:10px;}
	.fs10	{margin-bottom:-10px;}
	.fs10_2	{margin-bottom:-20px;}
	.fs10_3	{margin-bottom:-30px;}
	.fs10_4	{margin-bottom:-40px;}

.fs11, .fs11_2, .fs11_3, .fs11_4  {font-size:11px;}
	.fs11	{margin-bottom:-11px;}
	.fs11_2	{margin-bottom:-22px;}
	.fs11_3	{margin-bottom:-33px;}
	.fs11_4	{margin-bottom:-44px;}

.fs12, .fs12_2, .fs12_3, .fs12_4  {font-size:12px;}
	.fs12	{margin-bottom:-12px;}
	.fs12_2	{margin-bottom:-24px;}
	.fs12_3	{margin-bottom:-36px;}
	.fs12_4	{margin-bottom:-48px;}

.fs14, .fs14_2, .fs14_3, .fs14_4  {font-size:14px;}
	.fs14	{margin-bottom:-14px;}
	.fs14_2	{margin-bottom:-28px;}
	.fs14_3	{margin-bottom:-42px;}
	.fs14_4	{margin-bottom:-56px;}

.fs16, .fs16_2, .fs16_3, .fs16_4  {font-size:16px;}
	.fs16	{margin-bottom:-16px;}
	.fs16_2	{margin-bottom:-32px;}
	.fs16_3	{margin-bottom:-48px;}
	.fs16_4	{margin-bottom:-64px;}

.fs18, .fs18_2, .fs18_3, .fs18_4  {font-size:18px;}
	.fs18	{margin-bottom:-18px;}
	.fs18_2	{margin-bottom:-36px;}
	.fs18_3	{margin-bottom:-54px;}
	.fs18_4	{margin-bottom:-72px;}

.fs20, .fs20_2, .fs20_3, .fs20_4  {font-size:20px;}
	.fs20	{margin-bottom:-20px;}
	.fs20_2	{margin-bottom:-40px;}
	.fs20_3	{margin-bottom:-60px;}
	.fs20_4	{margin-bottom:-80px;}

.fs24, .fs24_2, .fs24_3, .fs24_4  {font-size:24px;}
	.fs24	{margin-bottom:-20px;}
	.fs24_2	{margin-bottom:-40px;}
	.fs24_3	{margin-bottom:-60px;}
	.fs24_4	{margin-bottom:-80px;}

.fs26, .fs26_2, .fs26_3, .fs26_4  {font-size:26px;}
	.fs26	{margin-bottom:-26px;}
	.fs26_2	{margin-bottom:-53px;}
	.fs26_3	{margin-bottom:-78px;}
	.fs26_4	{margin-bottom:-104px;}




      /*  Standardwerte für Link zum größeren Bild */
.lupe-r, .lupe-l, .lupe-b  {
	display: block;
	position:relative;
	width: 30px;
	height: 28px;
	padding: 10px 15px;
	background: url(images/icons.png) no-repeat scroll 0 -510px transparent;
	margin-bottom: -50px;
}
.lupe-b { right: -30px; margin-left:  auto; top: -10px;}
.lupe-r { right: -30px; margin-left:  auto; top: -50px;}
.lupe-l {  left:  30px; margin-right: auto; top: -50px;}


.inlinepic {
	padding : 4px;
	font-family: arial, verdana, tahoma, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	background-color: transparent;
}
.leftext {
	float: none;
	font-family: arial, verdana, tahoma, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 10px;
	background-color: transparent;
}

.tabtable {
	border: 1px solid gray;
	border-collapse: collapse;
	padding : 4px;
	margin: 0 20px;
	background-color: #0E1E36;
	font-size: 90%;
}

.tabtable th, .tabtable td {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 5px;
	border-collapse:separate;
}



.list td {
	border-bottom: 1px dotted gray;
	vertical-align:bottom;
	padding-right:2em;
}

.iedoc {
	padding-left: 20px;
	background-image: url(images/document.png);
	background-repeat: no-repeat;

}
.see {
	font-size:80%;
	font-style:italic;
}


/* ________________    Inhaltsverzeichnis    ________________ */

.inhalt {

	display:none;		/*  in Vorbereitung für längere Artikel */

}
.inhalt ol {
	font-size: 80%;}


/* _____  Tabelle taktisch- technische Daten  ________ */


.ttd-rahmen {
	float: none;
	border:none;
	padding: 2px;
	margin: 0 5px 10px 10px;
	background-color: transparent;
	font-size: 90%;
}
.ttd-rahmen .pictable_r,  
.ttd-rahmen .pictable_l,
.ttd-rahmen .pictable_c {
	border: none !important;
	box-shadow: none !important;
}


.ttd {
	border-style: none;
	margin: 4px;
	font-family: arial, verdana, tahoma, sans-serif;
	font-size: 90%;
	background-color:#0E1E36;
	white-space: nowrap;
}
.ttd td {
	vertical-align: top;
	padding-left: 4px;

}
.ttd_li{
	text-align: right;
	font-size: 75%;
	
}


.logo { 
	text-align: center;
	font-size: 60%;
}



.gallerie {
	float: none;
	clear: both;
}
.bild {
	display: block;
	padding: 0 1em;
}



/* _____  Besucherstatistik  ________ */


.statistik {
	border-style: none;
	margin : 4px;
	padding : 4px;
	font-family: arial, verdana, tahoma, sans-serif;
	background-color:#0E1E36;
}
.statistik th {
	font-size: 10px;
	text-align: center;
	white-space: nowrap;
}
.statistik td {
	font-size: 8px;
	text-align: right;
	white-space: nowrap;
}


.land {
	border: 1px solid;
	margin-right:1em;
}
#s01 {background-color:darkgreen;	padding-left:66.47em;	margin-right:-25em;}
#s02 {background-color:darkblue;		padding-left:31.76em;} /* Germany */
#s03 {background-color:tomato;		padding-left:12.20em;} /* India */
#s04 {background-color:plum;			padding-left: 9.35em;} /* France */
#s05 {background-color:yellow;		padding-left: 8.18em;} /* Turkey */
#s06 {background-color:silver;		padding-left: 7.32em;} /* Great Britain (UK) */
#s07 {background-color:red;			padding-left: 5.23em;} /* Netherland */
#s08 {background-color:purple;		padding-left: 4.95em;} /* China */
#s09 {background-color:salmon;		padding-left: 4.95em;} /* Russia */
#s10 {background-color:olive;		padding-left: 3.72em;} /* Korea */
#s11 {background-color:gold;			padding-left: 3.39em;} /* Indonesia */
#s12 {background-color:linen;		padding-left: 2.68em;} /* Italy */
#s13 {background-color:lime;			padding-left: 2.47em;} /* Australia */
#s14 {background-color:maroon;		padding-left: 2.34em;} /* Romania */
#s15 {background-color:beige;		padding-left: 2.08em;} /* Spain */
#s16 {background-color:fuchsia;		padding-left: 2.03em;} /* Japan */
#s17 {background-color:sienna;		padding-left: 1.98em;} /* Austria */
#s18 {background-color:indigo;		padding-left: 1.47em;} /* Taiwan */
#s19 {background-color:navy;			padding-left: 1.64em;} /* Switzerland */
#s20 {background-color:pink;			padding-left: 1.59em;} /* Singapore */
#s21 {background-color:thistle;		padding-left: 1.57em;} /* Iran */
#s22 {background-color:fuchsia;		padding-left: 1.46em;} /* Czech Republic */
#s23 {background-color:green;		padding-left: 1.45em;} /* Poland */
#s24 {background-color:cyan;			padding-left: 1.42em;} /* Sweden */
#s25 {background-color:bisque;		padding-left: 1.28em;} /* Israel */
#s26 {background-color:crimson;		padding-left: 1.25em;} /* Pakistan */
#s27 {background-color:khaki;		padding-left: 0.84em;} /* Ukraine */
#s28 {background-color:green;		padding-left: 0.64em;} /* Philippines */
#s29 {background-color:maroon;		padding-left: 0.58em;} /* Malaysia */

#s30 {background-color:transparent;	padding-left: 13.15em;} /* Other */


/* ________________    Firmenlogos    ________________ */

.alenia {
	float:left;
	width: 30px;
	height: 27px;
	margin: 4px;
	background-image : url(../../logos/alenialogo.gif);
	background-repeat: no-repeat;
}
.ams {
	float:left;
	width: 250px;
	height: 40px;
	margin: 4px;
	margin-right:2em;
	background-image : url(../../logos/ams_pos.gif);
	background-repeat: no-repeat;
}
.eads {
	float:left;
	width: 80px;
	height: 58px;
	margin: 4px;
	background-image : url(../../logos/eads.gif);
	background-repeat: no-repeat;
}

.eldis {
	float:left;
	width: 150px;
	height: 40px;
	margin: 4px;
	background-image : url(../../logos/eldislogo.png);
	background-repeat: no-repeat;
}

.ericson {
	float:left;
	width: 100px;
	height: 20px;
	margin: 4px;
	background-image : url(../../logos/ericsson.gif);
	background-repeat: no-repeat;
}
.itt {
	float:left;
	width: 25px;
	height: 27px;
	margin: 4px;
	background-image : url(../../logos/ittgil.gif);
	background-repeat: no-repeat;
}
.kelvinh {
	float:right;
	width: 110px;
	height: 63px;
	margin: 4px;
	background-image : url(../../logos/kelvin_hughes_surveillance.png);
	background-repeat: no-repeat;
}
.kongsberg {
	float:left;
	width: 52px;
	height: 20px;
	margin: 4px;
	background-image : url(../../logos/norcontrolit.jpg);
	background-repeat: no-repeat;
}
.LMC {
	float:right;
	width: 237px;
	height: 37px;
	margin: 4px;
	background-image : url(../../logos/lmclogo.gif);
	background-repeat: no-repeat;
}
.plextek {
	float:right;
	width: 150px;
	height: 50px;
	margin: 4px;
	background-image : url(../../logos/plextek.png);
	background-repeat: no-repeat;
}
.PVO {
	float:right;
	width: 150px;
	height: 72px;
	margin: 4px;
	padding-left:80px;
	background-image : url(../../logos/almaz.png);
	background-repeat: no-repeat;
}
.thalesatm {
	float:left;
	width: 160px;
	height: 27px;
	margin: 4px;
	background-image : url(../../logos/thaleslogo.gif);
	background-repeat: no-repeat;
}
.thomson {
	float:left;
	width: 210px;
	height: 50px;
	margin: 4px;
	background-image : url(../../logos/thomson-NCS.png);
	background-repeat: no-repeat;
}
.raytheon {
	float:left;
	width: 75px;
	height: 15px;
	margin: 4px;
	background-image : url(../../logos/Raytheon.logo.png);
	background-repeat: no-repeat;
}
.selex-si {
	float:left;
	width: 131px;
	height: 50px;
	margin: 4px;
	background-image : url(../../logos/selex.gif);
	background-repeat: no-repeat;
}
.sperry {
	float:left;
	width: 100px;
	height: 30px;
	margin: 1px;
	background-image : url(../../logos/Sperry.png);
	background-repeat: no-repeat;
}
.nrplgroup {
	float:left;
	width: 130px;
	height: 40px;
	margin: 4px 0px;
	padding-left:50px;
	background-image : url(../../logos/nrpl.png);
	background-repeat: no-repeat;
	font-size: 120%;
}
.wera {
	float:left;
	width: 100px;
	height: 47px;
	margin: 4px;
	background-image : url(../../logos/wera.png);
	background-repeat: no-repeat;
}
.irctr {
	float:left;
	width: 108px;
	height: 45px;
	margin: 4px 1em 4px 4px;
	background-image : url(../../logos/irctr-i.png);
	background-repeat: no-repeat;
}

/* ____ Werbeblock  ____ */


h6.separator {color:#8684A6;}
div.separator { 	/* waagerechter Strich */
	height: 5px;
	margin-bottom: 5px;
	background-image: linear-gradient(to right,rgba(200,216,232,0) 0,#C8D8E8 40%,#C8D8E8 70%,rgba(200,216,232,0) 100%);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 1px;
	}

.expent_hh {

	min-width:300px;
	width: auto;
	height: auto;
	text-align: center;
	padding: 0px;
	background-color: #101C2E;
}

#RoSw4 {	/*Rohde und Schwarz 4 : nur Handheld */
	background-image: url(../expent/29048_037_ADT_Radar_poster1_260x200.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width:100%;
	height:260px;
	display: block;
}


#cpx_de_hh, #cpx_en_hh, #cpx_es_hh, #cpx_fr_hh, #cpx_ro_hh, #cpx_tr_hh  {
	background-image: url(../expent/cpx.mobi.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width:100%;
	height:700px;
	display:block;
}

#RoSw3 {	/*Rohde und Schwarz 3 : nur Handheld */
	background-image: url(../expent/banner1%20300x240.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width:100%;
	height:260px;
	display: none;
}
	
#rhkoe_hh  {
	background-image: url(../expent/logoRhKoe.hovm.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width:100%;
	height:80px;
	display:block;
}
	
#pcb_hh  {
	background-image: url(../expent/logo_a.mobile.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width:100%;
	height:320px;
	display:block;
}



/* ____ ka03 ____ */

.up {background:url(../css/images/icons.png) no-repeat 20px -160px transparent;
	width:24px;
	height:30px;
	padding:20px;
	}
.zeile {width:auto;
	column-width:250px;
	margin-bottom:0.2em;
	}
.zeile ul {list-style: none;
	margin-bottom:1em;
	}
.zeile li {margin-bottom:0.5em;}

/* _____________________________________    Navigation Handheld   ______________________________________________*/

.sticky
{
position: static;
position: sticky;
top: 0em;
}

							/* Icons für Navigation */ 
#zur, #vor, #vori, #vorh, #rand, #next {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	width: 23px;
	height:32px;}
#rand, #vor, #vori	{width: 50px;}

#hhhome, #hhcont, #hhsite  {
	margin-top: 5px;
	padding: 0px 24px;
	height: 25px;
	margin-right: 15px;
	}
#hhhome { background:url(../css/images/icons.png) no-repeat 10px -240px transparent; margin-left: 15px !important;}
#hhcont { background:url(../css/images/icons.png) no-repeat 10px -270px transparent; }
#hhsite { background:url(../css/images/icons.png) no-repeat 10px -300px transparent; }

#zur	{background:url(../css/images/icons.png) no-repeat 0px     3px transparent;}
#vor, #vori, #vorh	{background:url(../css/images/icons.png) no-repeat 0px   -57px transparent;}
#rand	{background:url(../css/images/icons.png) no-repeat 0px  -567px transparent;}





/* _____________________________________   Navigation integriert   _____________________________________________*/

ul.dropdown {
	display:block;
	font: bold 17px/normal Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0px;
	right: 20px;
	z-index: 597;
	float: right;
}

ul.dropdown li {
	padding: 5px;
	float: left;
	line-height: 1.3em;
	vertical-align: middle;
}

ul.dropdown *.dir {
	padding-right: 30px;
	background-image: none;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	}

ul.dropdown ul *.dir {
	padding-right: 15px;
	background-image: url(images/comnav-arrow.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	}

ul.dropdown li, ul.dropdown a:link, ul.dropdown a:visited {
	color: #fff;
	text-decoration: none;
	}
	
ul.dropdown a:hover, ul.dropdown ul a.dir:hover {
	background-color: #4498c7;		/*  blauer Farbverlauf	*/
		background-image: -moz-linear-gradient(top, #5F94B3 25%, #49758F 75%);
		background-image: -webkit-linear-gradient(top, #5F94B3 25%, #49758F 75%);
		background-image: -ms-linear-gradient(top, #5F94B3 25%, #49758F 75%);
		background-image: -o-linear-gradient(top, #5F94B3 25%, #49758F 75%);
	color: #fff;
	}

ul.dropdown a:active, #rssbut a:hover {
	background-color: #4498c7;		/*  blauer Farbverlauf invertiert  */
		background-image: -moz-linear-gradient(top, #49758F 25%, #5F94B3 75%);
		background-image: -webkit-linear-gradient(top, #49758F 25%, #5F94B3 75%);
		background-image: -ms-linear-gradient(top, #49758F 25%, #5F94B3 75%);
		background-image: -o-linear-gradient(top, #49758F 25%, #5F94B3 75%);
	color: #fff;
	}

ul.dropdown ul {
	left: auto;
	right: 0;
	width: 150px;
	margin-top: -1px;
	font: bold 11px/1em Tahoma, Geneva, Verdana, sans-serif;
	}

ul.dropdown ul li {
	background-color: #3a3a3a;
	}

ul.dropdown a,
ul.dropdown span {
	display: block;
	padding: 3px 8px;  /* Tab Reitergröße */
	}

ul.dropdown ul a,
ul.dropdown ul span { /* POI, proposal: override abstract a, span ist Wichtig für Flaggensymbole */
	padding: 5px 8px 10px 8px;
	}

ul.dropdown *.dir ,
ul.dropdown  span { /* POI */
	padding: 5px 8px;   /* Tab Reitergröße */
	}




/*------------------------------------------------------------------------------------------------------/
 *	@section	Custom Styles
 */


ul.dropdown ul a {
	width: 133px;
	}

ul.dropdown ul a.dir {
	width: 111px;
	}

ul.dropdown *.open {
	background-color: #3d3d3d;
	}
ul.dropdown ul *.open {
	background-color: #4a4a4a;
	background-image: url(images/comnav-arrow.png);
	color: #fff;
	}
ul.dropdown ul ul *.open {
	background-color: #595959;
	background-image: url(images/comnav-arrow.png);
	color: #fff;
	}

ul.dropdown a.open:hover {
	background-color: #429cce;
	color: #fff;
	}
ul.dropdown ul a.open:hover {
	background-image: url(images/comnav-arrow.png);
	color: #fff;
	}

ul.dropdown li:hover > *.dir {
	background-color: #3d3d3d;
	}
ul.dropdown ul li:hover > *.dir {
	background-color: #4a4a4a;
	background-image: url(images/comnav-arrow.png);
	}
ul.dropdown ul ul li:hover > *.dir {
	background-color: #595959;
	background-image: url(images/comnav-arrow.png);
	color: #fff;
	}

ul.dropdown li:hover > a.dir:hover {
	background-color: #429cce;
	color: #fff;
	}
ul.dropdown ul li:hover > a.dir:hover {
	background-image: url(images/comnav-arrow.png);
	color: #fff;
}

ul.dropdown,
ul.dropdown li,
ul.dropdown ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}


ul.dropdown li.hover,
ul.dropdown li:hover { /* wichtig, damit liste am button angebunden bleibt  */
	position: relative;
	z-index: 599;
	cursor: default;
	}

ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 100%;
	}


ul.dropdown ul li {
	float: none;
	}

ul.dropdown ul ul {
	top: 1px;
	left: 99%;
	}

ul.dropdown li:hover > ul {visibility: visible;}





/*------------------------------- nur die sprachnavigation anzeigen -------------------------------*/

#n-basics, #n-basics-pl, #n-sets, #n-sets-pl, #n-modes, #n-devices, #n-service, .n-kartei, .n-karteis {display:none;}


#n-lingua 			{ width:  84px; text-align: center;}
#n-lingua ul 		{ width: 109px; left: 0px; right: auto; text-align: left;}
#n-lingua ul a 		{ width:  92px;}

#navling {	background-image: url(../css/images/flaggen.png);
	background-position: 10px 3px;
	background-repeat: no-repeat;	}
a#bg, a.bg {	background:url(../css/images/flaggen.png) no-repeat scroll right  -40px transparent;}
a#de, a.de {	background:url(../css/images/flaggen.png) no-repeat scroll right  -80px transparent;}
a#en, a.en {	background:url(../css/images/flaggen.png) no-repeat scroll right -120px transparent;}
a#es, a.es {	background:url(../css/images/flaggen.png) no-repeat scroll right -160px transparent;}
a#fr, a.fr {	background:url(../css/images/flaggen.png) no-repeat scroll right -200px transparent;}
a#ro, a.ro {	background:url(../css/images/flaggen.png) no-repeat scroll right -240px transparent;}
a#ru, a.ru {	background:url(../css/images/flaggen.png) no-repeat scroll right -280px transparent;}
a#tr, a.tr {	background:url(../css/images/flaggen.png) no-repeat scroll right -320px transparent;}
a#pt, a.pt {	background:url(../css/images/flaggen.png) no-repeat scroll right -360px transparent;}
a#sr, a.sr {	background:url(../css/images/flaggen.png) no-repeat scroll right -400px transparent;}
a#pl, a.pl {	background:url(../css/images/flaggen.png) no-repeat scroll right -440px transparent;}
a#br, a.br {	background:url(../css/images/flaggen.png) no-repeat scroll right -480px transparent;}
a#ge, a.ge {	background:url(../css/images/flaggen.png) no-repeat scroll right -520px transparent;}
a#cz, a.cz {	background:url(../css/images/flaggen.png) no-repeat scroll right -560px transparent;}
a#ua, a.ua {	background:url(../css/images/flaggen.png) no-repeat scroll right -600px transparent;}
a#it, a.it {	background:url(../css/images/flaggen.png) no-repeat scroll right -640px transparent;}
a#gr, a.gr {	background:url(../css/images/flaggen.png) no-repeat scroll right -680px transparent;}
a#dk, a.dk {	background:url(../css/images/flaggen.png) no-repeat scroll right -720px transparent;}
a#sw, a.sw {	background:url(../css/images/flaggen.png) no-repeat scroll right -760px transparent;}
a#no, a.sw {	background:url(../css/images/flaggen.png) no-repeat scroll right -800px transparent;}
a#fi, a.fi {	background:url(../css/images/flaggen.png) no-repeat scroll right -840px transparent;}
a#hu, a.hu {	background:url(../css/images/flaggen.png) no-repeat scroll right -880px transparent;}
a#si, a.si {	background:url(../css/images/flaggen.png) no-repeat scroll right -920px transparent;}  /* SLO */
a#nl, a.nl {	background:url(../css/images/flaggen.png) no-repeat scroll right -960px transparent;}

span#bg, span#de, span#en, span#es, span#fr, span#ro, span#ru, span#tr, span#pt, span#pl, span#sr, span#br,
span#ge, span#cz, span#ua, span#it, span#gr, span#dk, span#sw, span#no, span#fi, span#hu, span#si, span#nl {
	color:gray;	}

span#bg, span.bg {	background:url(../css/images/flaggen.png) no-repeat scroll 70px  -40px transparent;}
span#de, span.de {	background:url(../css/images/flaggen.png) no-repeat scroll 70px  -80px transparent;}
span#en, span.en {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -120px transparent;}
span#es, span.es {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -160px transparent;}
span#fr, span.fr {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -200px transparent;}
span#ro, span.ro {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -240px transparent;}
span#ru, span.ru {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -280px transparent;}
span#tr, span.tr {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -320px transparent;}
span#pt, span.pt {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -360px transparent;}
span#sr, span.sr {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -400px transparent;}
span#pl, span.pl {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -440px transparent;}
span#br, span.br {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -480px transparent;}
span#ge, span.ge {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -520px transparent;}
span#cz, span.cz {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -560px transparent;}
span#ua, span.ua {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -600px transparent;}
span#it, span.it {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -640px transparent;}
span#gr, span.gr {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -680px transparent;}
span#dk, span.dk {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -720px transparent;}
span#sw, span.sw {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -760px transparent;}
span#no, span.no {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -800px transparent;}
span#fi, span.fi {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -840px transparent;} 
span#hu, span.hu {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -880px transparent;} 
span#si, span.si {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -920px transparent;} 
span#nl, span.nl {	background:url(../css/images/flaggen.png) no-repeat scroll 70px -960px transparent;}


.n-vz, .vz 	{ 
	display: inline-block;
	width:  24px; 
	height: 32px;
	text-align: center; padding:0px;
}

.siehe   pointer siehe auch
{background:url(../css/images/icons.png) no-repeat 0px -423px transparent;
	padding-left:22px;
	border:none;
}

#up {background:url(../css/images/icons.png) no-repeat 20px -160px transparent;
	width:24px;
	height:30px;
	padding:20px;
	float:right;
	}


	
#rssbut {
	 background-color: #444 !important;
	background:url(images/ico16.png) no-repeat scroll right -96px transparent;
	}
#rssbut a:hover {
	background-color: #429cce !important;
	background:url(images/ico16.png) no-repeat scroll right -96px transparent;
	}


#bg:hover,#de:hover,#en:hover,#es:hover,#fr:hover,#ro:hover,#ru:hover,#tr:hover,#pl:hover,
#cz:hover,#ua:hover,#it:hover,#pt:hover,#ge:hover,#gr:hover,#dk:hover,
#zur:hover,#vor:hover,#rand:hover, #hhhome:hover, #hhcont:hover, #hhsite:hover, #vori:hover
	{background-color: #49758F;}




/* ____ Auf dem Handheld- Bildschirm nicht angezeigte Objekte ____ */

.hh_no, .n-feed {
	display:none;
}

#sol, #enjoy, #social, #facebook {
	display: none;
}

.alenia, .ams, .eads, .eldis, .ericson, .itt, .kongsberg, .kelvinh  {
	display: none;
}
.LMC, .thalesatm, .thomson, .raytheon, .selex-si, .nrplgroup, .wera {
	display: none;
}

.druckform, .prn, .s, #copyright, .keywords, .teaser {
	display: none;
}

.expent, .advt {
	display: none;
}


