/* Style sheet for printing */


/* Basic HTML Element Style */

@page { size:21.0cm 29.7cm;
	margin:1.5cm 1cm 2cm 1.5cm;
	max-width:630px;
}

body {
	background-color: #ffffff;
	font: 11px/16px verdana, tahoma, arial, sans-serif;
	color: black;
	text-align: center;
	margin: 0;
}

.dpneu {
	page-break-before:always;
}

a:link {color: black; text-decoration: none; }
a:active {color: black; text-decoration: none; }
a:visited {color: black; text-decoration: none; }
a:hover {color: white; text-decoration: none; background:blue; }
a.pdf			{background:url(images/ico16.png) no-repeat scroll 0 -220px transparent;padding-left:20px; }
a.pptx			{background:url(images/ico16.png) no-repeat scroll 0 -360px transparent;padding-left:20px; margin-left:30px;}
a[rel~="external"]	{background:url(images/ico16.png) no-repeat scroll right -51px transparent;padding-right:16px; }
a[rel~="wikipedia"]	{background:url(images/ico16.png) no-repeat scroll right -328px transparent;padding-right:16px; }

h1 {
	font: 18px georgia, arial, verdana, tahoma, sans-serif;
	font-style : italic;
	font-weight: bold;
	text-align: right;
	color: #ef0800;       /* Bordeaurot */
	margin: 0 0 15px 0;
}

h3 {
	font: 16px georgia, 'times new roman', sans-serif;
	margin: 1em;
}
h4 {
	font: 14px verdana, tahoma, arial, sans-serif;
	font-weight: bold;
	margin: 0.5em;
}
h5, h6 {
	font: 11px verdana, tahoma, arial, sans-serif;
	font-weight: bold;
	margin: 1em;
}
p,td,li {
	font: 11px verdana, tahoma, arial, sans-serif;
	margin-top: 0.1em;
	margin-bottom: 0px;
	orphans:5;
}
th      {
	font: 11px verdana, tahoma, arial, sans-serif;
	font-weight:bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
small   {
	font: 10px verdana, tahoma, arial, sans-serif;
	margin-top: 0.1em;
	margin-bottom: 0px;
}
hr {	color: #000000;
	height: 1px;
}

h1 img { /* Logo ausrichten */
	width:160px;
}

ul.forts {list-style-type:none;}		/* Listen als Fortsetzung ohne Bullet */
li.forts {text-indent: 0 !important; }


/*Structural elements */
.content {
	font: 11px verdana, tahoma, arial, sans-serif;
	text-align: left;
}

.note {
	font-family: verdana, tahoma, arial, sans-serif;
	text-align: left;	
	font-size: 90%;
	padding-left: 3em;
	z-index:2;
}

.druckform, .prn {
	width: auto;
	text-align: left;

}

.spacing {margin-left: 40px;}
.spacin2 {margin-left: 80px;}

	
.fussnote, #footnote, .source{
	font-size: 75%;
	font-style: italic;
	margin-top: 1em;
}
.fussnote {
	border-top: solid 1px gray;
	clear: both;
}

.referenz {
	font-size: 60%;
	vertical-align:top;
}


.teaser {
	float:right;
	font-size:10px !important;
	color:gray;
}

.yes {
	width: 22px;
	height: 22px;
	background:url(images/icons.png) no-repeat scroll 0 -1110px transparent;	
}
.no {
	width: 22px;
	height: 22px;
	background:url(images/icons.png) no-repeat scroll 0 -1170px transparent;	
}

/* ________________    Ausrichtung    ________________ */

.right {
	float:right !important;
	margin-left: 1em !important;
}
.left {
	float:left !important;
	margin-right: 1em !important;
}
.clear_left  {
	float: left;
	clear: left;
}
.clear_right  {
	float: right;
	clear: right;
}
.clear  {
	clear: both;}

/* _____________    Sitemap    _____________ */


.sitemap {
	list-style: none;
	vertical-align:bottom;
	padding-right:2em;
	width:80%;
	}
.sitemap a {
	margin-right:1em;
	}
.sitemap li {
	border-bottom: 1px dotted gray;
	margin-bottom:-0.2em;
	}
.updt {
	text-align:right;
}

/* _____________  neue Formel-DIV mit png  ___________*/
div.eqn {
	font-size:80%;
	margin-left:2rem;
	text-align:left;
	padding: 1rem 2rem;
}
div.eqn div {
	padding: 1rem;
}

img.eqn {
	float: left;
	margin-right: 3rem;
}
div.eqn .line {
	font-family: 'Times New Roman',serif;
	font-size: 170%;
	font-style: italic;
	white-space: nowrap;
}
div.eqn .line sup {font-style: normal;}

ul.eqn {	
	list-style: none;
	margin: 1em;
}
p.eqn {
	float: right;
}

/* _____________  alte Formeltabellen  ___________*/

.formel {
	font-family: 'Times New Roman',serif;
	margin-left: 40px;
	padding-left: 5px;
	padding-right: 5px;
	font-style: italic;
	text-align: center;
	vertical-align:middle;
	white-space: nowrap;
}
.fnenner {
	font-family: 'Times New Roman',serif;
	font-size: 130%;
	vertical-align: text-top;
	text-align:center;
	font-weight: bold;
	font-style: italic;
}
.fzaehler {
	font-family: 'Times New Roman',serif;
	font-size: 130%;
	vertical-align: bottom;
	text-align:center;
	font-weight: bold;
	font-style: italic;
	margin: 0px;
}
.fgleich {
	font-family: 'Times New Roman',serif;
	font-size: 130%;
 	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-style: italic;
	margin: 0px;
}
.fwhere {
 	padding-left: 40px;
	padding-right: 5px;
	font-style: normal;
	font-size:80%;
	white-space: nowrap;
	vertical-align:top;
	margin: 1em;
}
.flegende {
 	padding-left: 20px;
	min-width:100px;
	text-align: left;
	font-style: normal;
	font-size:80%;
	vertical-align: bottom;
	white-space: nowrap;
	margin: 0px;
}
.ftext {
	font-family: 'Times New Roman',Georgia,serif;
	font-style: italic;
	font-size:110%;
	white-space: nowrap;
}
.fmath {
	font-style: normal;
}
.fnummer {
	min-width:100px;
	text-align: right;
	font-style: italic;
	font-size:80%;
	vertical-align: bottom;
}
.fbruch {
	border-top: 2px solid;
}


.highlight, .hlg {
	text-align: center;
	font-size: 100%;
	padding: 5px !important;
}


.lemmaname, .lenm {
	font-weight: bold;
	font-size:105%;
}

.eigenname, .eig, .fremdsprache, .fl, .geografie, .geo { 		/* später mal mit Kürzel ersetzen */
	font-style: italic;
}

	/*  Frequenzband */
.df, .dfs {
	white-space: nowrap;
}
.dfs {
	font-size:70%;
}


.kursiv {
	font-style: italic;
}

/* ---- Beispielrahmen ---- */


.example,
.beispiel,
.exemple,
.exemplu,
.oernek {
	border: solid 1px #6F6F6F;
	padding: 0px 2em;
	margin: 5px 0px;
	font-size: 80%;
}
.example,
.exemplu	{background: url(images/example.png)  4px 16px no-repeat;}
.beispiel	{background: url(images/beispiel.png) 4px 16px no-repeat;}
.exemple	{background: url(images/exemple.png)  4px 16px no-repeat;}
.oernek		{background: url(images/oernek.png)   4px 16px no-repeat;}

.example p, .beispiel p, .exemple p, .exemplu p, .oernek p, .example li, .beispiel li, .exemple li, .exemplu li , .oernek li {
	font-size: 100%;
}


/* ---- Bilderrahmen ---- */


.ovrw  { /*overview */
	display:inline-block;
	max-width: 210px;
	max-height:200px;
	padding-right: 1em;
	margin-top: 1em;
	font-size:75%;
}
.pictable_r
.pictable_l
.pictable_c
.gallerie {			/* innerhalb TTD-rahmen: siehe dort */
	width: auto;
	float:right;
	clear:right;
	border: 0;
	padding : 4px;
	margin-left: 5px;
	margin-bottom: 20px;
	font-style: italic;
	text-align: center;
	background-color: #ffffff;
}

.pictable_r {
	float: right;
	clear: right;
	margin-left: 20px;
}
.pictable_l {
	float: left;
	clear: left;
	margin-right: 20px;
}
.pictable_c {
	float: none;
	margin: 0 auto;
	padding : 4px;
	text-align: left;
}

.gallerie {
	float: none;
	margin-top:2em;
	clear: left;
	overflow: auto;
}

.bild {
	display: table-cell;
	padding: 0 1em;
}

.pictable_l p, .pictable_r p, .pictable_c p, .bild p {
	font-size: 9px;
	font-style: italic;
}

/* ==== Bildbeschreibungen / Legenden ==== */
.legend, .legcent, .legendblue, .legendblack, .legendgray, .legendred, .legendcyan, .legendwhite {
	position: relative;
	line-height: 1;
}
.legend {text-align: left;}
.legcent {text-align: center;}
.legendwhite {color:#f8f8f8;}
.legendblue {color:#C0C0FF;}
.legendgray {color:gray;}
.legendred {color:red;}
.legendcyan {color:cyan;}


.fs75, .fs75_2, .fs75_3, .fs75_4 {font-size:7.5px;}
.fs75   {margin-bottom:-7.5px;}
.fs75_2{margin-bottom:-14px;}
.fs75_3{margin-bottom:-22px;}
.fs75_4{margin-bottom:-30px;}

.fs7, .fs7_2, .fs7_3, .fs7_4 {font-size:7px;}
.fs7	{margin-bottom:-7px;}
.fs7_2	{margin-bottom:-14px;}
.fs7_3	{margin-bottom:-21px;}
.fs7_4	{margin-bottom:-38px;}

.fs8, .fs8_2, .fs8_3, .fs8_4  {font-size:8px;}
.fs8	{margin-bottom:-8px;}
.fs8_2	{margin-bottom:-16px;}
.fs8_3	{margin-bottom:-24px;}
.fs8_4	{margin-bottom:-32px;}

.fs9, .fs9_2, .fs9_3, .fs9_4  {font-size:9px;}
.fs9	{margin-bottom:-9px;}
.fs9_2	{margin-bottom:-18px;}
.fs9_3	{margin-bottom:-27px;}
.fs9_4	{margin-bottom:-36px;}

.fs10, .fs10_2, .fs10_3, .fs10_4  {font-size:10px;}
	.fs10	{margin-bottom:-10px;}
	.fs10_2	{margin-bottom:-20px;}
	.fs10_3	{margin-bottom:-30px;}
	.fs10_4	{margin-bottom:-40px;}

.fs11, .fs11_2, .fs11_3, .fs11_4  {font-size:11px;}
	.fs11	{margin-bottom:-11px;}
	.fs11_2	{margin-bottom:-22px;}
	.fs11_3	{margin-bottom:-33px;}
	.fs11_4	{margin-bottom:-44px;}

.fs12, .fs12_2, .fs12_3, .fs12_4  {font-size:12px;}
	.fs12	{margin-bottom:-12px;}
	.fs12_2	{margin-bottom:-24px;}
	.fs12_3	{margin-bottom:-36px;}
	.fs12_4	{margin-bottom:-48px;}

.fs14, .fs14_2, .fs14_3, .fs14_4  {font-size:14px;}
	.fs14	{margin-bottom:-14px;}
	.fs14_2	{margin-bottom:-28px;}
	.fs14_3	{margin-bottom:-42px;}
	.fs14_4	{margin-bottom:-56px;}

.fs16, .fs16_2, .fs16_3, .fs16_4  {font-size:16px;}
	.fs16	{margin-bottom:-16px;}
	.fs16_2	{margin-bottom:-32px;}
	.fs16_3	{margin-bottom:-48px;}
	.fs16_4	{margin-bottom:-64px;}

.fs18, .fs18_2, .fs18_3, .fs18_4  {font-size:18px;}
	.fs18	{margin-bottom:-18px;}
	.fs18_2	{margin-bottom:-36px;}
	.fs18_3	{margin-bottom:-54px;}
	.fs18_4	{margin-bottom:-72px;}

.fs20, .fs20_2, .fs20_3, .fs20_4  {font-size:20px;}
	.fs20	{margin-bottom:-20px;}
	.fs20_2	{margin-bottom:-40px;}
	.fs20_3	{margin-bottom:-60px;}
	.fs20_4	{margin-bottom:-80px;}

.fs26, .fs26_2, .fs26_3, .fs26_4  {font-size:26px;}
	.fs26	{margin-bottom:-26px;}
	.fs26_2	{margin-bottom:-53px;}
	.fs26_3	{margin-bottom:-78px;}
	.fs26_4	{margin-bottom:-104px;}


.inlinepic {
	padding : 4px;
	font-family: arial, verdana, tahoma, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

.leftext {
	float:right;
	font-family: arial, verdana, tahoma, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 10px;
	background-color: #303030;
}

.tabtable {
	border: 1px solid gray;
	border-collapse: collapse;
	padding : 4px;
	margin: 0 20px;
	background-color: #0E1E36;
	font-size: 90%;
}

.tabtable th, .tabtable td {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 5px;
	border-collapse:separate;
}


.nobreak {white-space: nowrap;}


.copyright {
	font: 9px verdana, tahoma, arial, sans-serif;
	
}

.druckraum {
	min-height: 10em;  /* Platz für Antworten im Test */
}


/* ________________    schräge Texte    ________________ */


.tx90 {
	text-align: right;
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg); 
}
.tx45 {
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); 
}

.tx-45 {
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); 
}

.tx-75 {
	text-align: right;
	-o-transform: rotate(-75deg);
	-moz-transform: rotate(-75deg);
	-webkit-transform: rotate(-75deg);
	-ms-transform: rotate(-75deg);
	transform: rotate(-75deg); 
}

.tx17 {
	-o-transform: rotate(17deg);
	-moz-transform: rotate(17deg);
	-webkit-transform: rotate(17deg);
	-ms-transform: rotate(17deg);
	transform: rotate(17deg);
}


.txway {
	color:blue;
	text-align:left;
	line-height:1;
	position:relative;
	text-align:center;
	font-weight:bold;
		-o-transform: rotate(-17deg);
		-moz-transform: rotate(-17deg);
		-webkit-transform: rotate(-17deg);
		-ms-transform: rotate(-17deg);
	transform: rotate(-17deg); 
}




/* _____  Tabelle taktisch- technische Daten  ________ */

.ttd-rahmen {
	float: right;
	clear: right;
	border-style: solid;
	border-width: thin;
	border-top-color: #f0f0f0;
	border-left-color: #f4f4f4;
	border-right-color: #f8f8f8;
	border-bottom-color: #f8f8f8;
	padding : 4px;
	margin-right: 1em;
	background-color:#fafafa;
}


.ttd-rahmen .pictable_r,  
.ttd-rahmen .pictable_l,
.ttd-rahmen .pictable_c {
	border: none !important;
	box-shadow: none !important;
}

.ttd, .ttd td {
	border-style: none;
	margin : 0 4px;
	padding : 0 4px;
	font-family: arial, verdana, tahoma, sans-serif;
	font-size: 90%;
	background-color:#fafafa;
	text-align: center;
}
.ttd_li{
	vertical-align: top;
	text-align: right;
	font-size: 75%;
	
}


/* _____  Besucherstatistik  ________ */


.statistik {
	border-style: none;
	margin : 4px;
	padding : 4px;
	font-family: arial, verdana, tahoma, sans-serif;
	background-color:#fafafa;
}
.statistik th {
	font-size: 10px;
	text-align: center;
	white-space: nowrap;
}
.statistik td {
	font-size: 8px;
	text-align: right;
	white-space: nowrap;
}


.land {
	border: 1px solid;
	margin-right:1em;
	font-size:90%;
}
#s01 {background-color:darkgreen;	padding-left:56.53em;	margin-right:-17em;}
#s02 {background-color:darkblue;		padding-left:37.36em;} /* Germany */
#s03 {background-color:tomato;		padding-left:13.02em;} /* India */
#s04 {background-color:plum;			padding-left:10.02em;} /* France */
#s05 {background-color:yellow;		padding-left: 8.10em;} /* Great Britain (UK) */
#s06 {background-color:silver;		padding-left: 7.66em;} /* Turkey */
#s07 {background-color:red;			padding-left: 5.45em;} /* Canada */
#s08 {background-color:purple;		padding-left: 4.41em;} /* China */
#s09 {background-color:salmon;		padding-left: 4.35em;} /* Russia */
#s10 {background-color:olive;		padding-left: 3.93em;} /* Korea */
#s11 {background-color:gold;			padding-left: 3.52em;} /* Netherland */
#s12 {background-color:linen;		padding-left: 3.29em;} /* Italy */
#s13 {background-color:lime;			padding-left: 2.85em;} /* Australia */
#s14 {background-color:maroon;		padding-left: 2.75em;} /* Romania */
#s15 {background-color:beige;		padding-left: 2.25em;} /* Indonesia */
#s16 {background-color:fuchsia;		padding-left: 2.23em;} /* Spain */
#s17 {background-color:sienna;		padding-left: 1.97em;} /* Japan */
#s18 {background-color:indigo;		padding-left: 1.88em;} /* Austria */
#s19 {background-color:navy;			padding-left: 1.60em;} /* Poland */
#s20 {background-color:pink;			padding-left: 1.58em;} /* Sweden */
#s21 {background-color:thistle;		padding-left: 1.56em;} /* Iran */
#s22 {background-color:fuchsia;		padding-left: 1.49em;} /* Switzerland */
#s23 {background-color:green;		padding-left: 1.48em;} /* Taiwan */
#s24 {background-color:cyan;			padding-left: 1.40em;} /* Singapore */
#s25 {background-color:bisque;		padding-left: 1.33em;} /* Pakistan */
#s26 {background-color:crimson;		padding-left: 1.30em;} /* Israel */
#s27 {background-color:khaki;		padding-left: 1.19em;} /* Czech Republic */
#s28 {background-color:green;		padding-left: 1.19em;} /* Philippines */
#s29 {background-color:maroon;		padding-left: 0.72em;} /* Malaysia */

#s30 {background-color:transparent;	padding-left: 12.84em;} /* Other */


/* ________________    Hersteller    ________________ */

.entry {
	margin-bottom: 2em;
}
.epages {
	display:none;
}


/* ________________    Firmenlogos    ________________ */

.alenia {
	float:left;
	width: 170px;
	height: 40px;
	margin: 4px;
	background-image : url(../../logos/alenia.print.png);
	background-repeat: no-repeat;
}
.ams {
	float:left;
	width: 250px;
	height: 40px;
	margin: 4px;
	background-image : url(../../logos/ams_posp.gif);
	background-repeat: no-repeat;
}
.eads {
	float:left;
	width: 80px;
	height: 58px;
	margin: 4px;
	background-image : url(../../logos/eadsp.gif);
	background-repeat: no-repeat;
}
.ericson {
	float:left;
	width: 100px;
	height: 20px;
	margin: 4px;
	background-image : url(../../logos/ericssonp.gif);
	background-repeat: no-repeat;
}
.itt {
	float:left;
	width: 25px;
	height: 27px;
	margin: 4px;
	background-image : url(../../logos/ittgilp.gif);
	background-repeat: no-repeat;
}
.kelvinh {
	float:left;
	width: 110px;
	height: 63px;
	margin: 4px;
	background-image : url(../../logos/kelvin_hughes_surveillance.print.png);
	background-repeat: no-repeat;
}
.plextek {
	float:right;
	width: 150px;
	height: 50px;
	margin: 4px;
	background-image : url(../../logos/plextek.print.png);
	background-repeat: no-repeat;
}
.PVO {
	float:right;
	width: 150px;
	height: 72px;
	margin: 4px;
	padding-left:80px;
	background-image : url(../../logos/almaz.png);
	background-repeat: no-repeat;
}
.LMC {
	float:left;
	width: 237px;
	height: 37px;
	margin: 4px;
	background-image : url(../../logos/lmclogop.gif);
	background-repeat: no-repeat;
}
.kongsberg {
	float:left;
	width: 52px;
	height: 20px;
	margin: 4px;
	background-image : url(../../logos/norcontrolit.jpg);
	background-repeat: no-repeat;
}
.terma {
	float:left;
	width:  98px;
	height: 30px;
	margin: 4px;
	background-image : url(../../logos/Terma.logo.print.png);
	background-repeat: no-repeat;
}
.thalesatm {
	float:left;
	width: 87px;
	height: 15px;
	margin: 4px;
	background-image : url(../../logos/Thales.logo.print.png);
	background-repeat: no-repeat;
}
.thomson {
	float:left;
	width: 210px;
	height: 50px;
	margin: 4px;
	background-image : url(../../logos/thomson-NCS.png);
	background-repeat: no-repeat;
}
.raytheon {
	float:left;
	width: 75px;
	height: 15px;
	margin: 4px;
	background-image : url(../../logos/Raytheon.logo.print.png);
	background-repeat: no-repeat;
}
.selex-si {
	float:left;
	width: 131px;
	height: 50px;
	margin: 4px;
	background-image : url(../../logos/selexp.gif);
	background-repeat: no-repeat;
}

.nrplgroup {
	float:left;
	width: 120px;
	height: 40px;
	margin: 4px 0px;
	padding-left:50px;
	background-image : url(../../logos/nrpl.png);
	background-repeat: no-repeat;
	font-size: 120%;
}

.wera {
	float:left;
	width: 100px;
	height: 47px;
	margin: 4px;
	background-image : url(../../logos/wera.png);
	background-repeat: no-repeat;
}

.irctr {
	float:left;
	width: 108px;
	height: 45px;
	margin: 4px 1em 4px 4px;
	background-image : url(../../logos/irctr-i.png);
	background-repeat: no-repeat;
}

.neuss { /*Schriftzug GEMATRONIK */
	float:left;
	width: 200px;
	height: 25px;
	font-size:200%;
	font-weight:bold;
	text-align:left;
	padding-left: 40px;
	background-image : url(../../logos/gematronikp.gif);
	background-repeat: no-repeat;}
	
.drs {
	float:left;
	width: 140px;
	height: 40px;
	font-size:70%;
	background-image : url(../../logos/drsp.gif);
	background-repeat: no-repeat;
}

.ewr {
	float:left;
	width: 180px;
	height: 40px;
	background-image : url(../../logos/ewrlogop.gif);
	background-repeat: no-repeat;
}

.art {
	float:left;
	width: 120px;
	height: 50px;
	background-image : url(../../logos/ART-logo.print.png);
	background-repeat: no-repeat;
}

.rada {
	float:left;
	width: 150px;
	height: 36px;
	background-image : url(../../logos/RADA-logo.print.png);
	background-repeat: no-repeat;
}



.qr_code {
	float:right;
	width: 80px;
	height: 80px;
	font-size:60%;
}

/* ________________    nicht drucken:    ________________ */


.screenform, .scr, .teaser, .avatar, .expent, .kachelmann, #enjoy, #social, #facebook, .comment, #copyright, .footer1, .navList, .see, .inhalt, .keywords, .gogsearch {
	display: none;
}
.nav, .dropdown, .advt, .trans {
	display: none;
}
.lupe, .lupe25, .lupe150, .lupe200, .lupe300, .lupe360, .lupe440  {
	display: none;
}
	
.hh_yes, .nav_rp, .nav_bs, .nav_an, .nav_se , .skip {	/* Handheldnavigation */
	display: none;
}

#nav, div.menu, div.karteimenu, .footer, #thatweb-badge-reviewed-round {	/* ältere Navigationselemente */
	display: none;
}

#sub1,#sub2,#sub3,#sub4,#sub5,#sub6,#sub7,#sub8,#sub81,#sub82,#sub83 {
	display: none;
}